.ability {
  display: flex;
  align-items: center;
  opacity: 0;
  position: relative;
  width: 100%;
  margin: 50px;
  margin-left: 15%;
  height: 80%;
}

.image {
  position: relative;
  width: 100%;
  aspect-ratio: 4 / 3;
  max-width: 500px;
}

.description {
  margin-left: 10%;
  font-size: large;
  color: white;
  text-shadow: 2px 2px 4px #000000;
}

.ability.animate {
  animation: fadeInUp 0.9s ease-out forwards;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

@media (max-width: 900px) {
  .ability {
    flex-direction: column;
    text-align: center;
    justify-content: center;
    width: 70%;
  }
  .description {
    margin-top: 50px;
    margin-left: 0;
    width: 120%;
  }
}
