.container {
  border-radius: 20px;
  padding: 20px;
  text-align: center;
  margin-bottom: 20px;
  background-color: #6182d6;
  width: 150px;
  height: 300px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.container:hover {
  transform: scale(1.02);
}

.image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.name {
  font-size: 20px;
  color: #ffffff;
}

.position {
  font-size: 16px;
  color: #ffffff;
}

.part {
  font-size: 14px;
  color: #ffffff;
  height: 35px;
}

.github {
  color: #000000;
}
