@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Noto+Sans+KR:wght@100..900&display=swap');

body {
  margin: 0;
  padding: 0;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

main {
  margin-top: 80px;
  min-height: 100vh;
}
